@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dim --prefersdark, silk;
}

body {
  @apply w-screen h-screen  grid antialiased overflow-hidden;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: minmax(64px, auto) 1fr;
  grid-template-columns: 1fr;
}

header {
  grid-area: header;
  @apply w-screen;
}

main {
  grid-area: main;
  @apply bg-base-100 dark:bg-base-300 overflow-hidden h-full w-full;
}

main section {
  @apply w-full h-full overflow-y-auto p-4 overflow-x-hidden;
}

footer {
  grid-area: footer;
  @apply w-full;
}

.menu > li > a.active {
  @apply bg-base-300 text-base-content;
}
